* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0f;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #a855f7;
}

.slogan {
  color: #c4b5fd;
  margin-top: 5px;
}

.banner {
  padding: 100px 20px;
  text-align: center;
  background:
    radial-gradient(
      circle at top,
      rgba(168,85,247,0.4),
      transparent 60%
    ),
    linear-gradient(
      180deg,
      #1a1027,
      #0b0b0f
    );
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.banner p {
  font-size: 18px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
}

.btn {
  background: #a855f7;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}
.biblioteca {
  padding: 30px 20px;
}

.biblioteca h2 {
  margin-bottom: 20px;
}

.livro {
  background: #151520;
  border: 1px solid #2a2a40;
  padding: 20px;
  border-radius: 20px;
}

.livro h3 {
  color: #c084fc;
  margin-bottom: 10px;
}

.livro p {
  margin-bottom: 20px;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111118;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-top: 1px solid #2a2a40;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.logo {
  text-shadow: 0 0 15px rgba(168,85,247,0.8);
}

.btn {
  box-shadow: 0 0 20px rgba(168,85,247,0.5);
}

.livro {
  box-shadow: 0 0 15px rgba(168,85,247,0.15);
}
.capa {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 20px;
  display: block;
}

.livro {
  max-width: 420px;
  margin: 30px auto;
}
.banner-img{
    width:100%;
    border-radius:25px;
    margin-bottom:25px;
    box-shadow:0 0 35px rgba(168,85,247,.35);
}

.banner-info{
    max-width:650px;
    margin:auto;
}

.categoria{
    color:#b78cff;
    font-size:14px;
    letter-spacing:1px;
}

.frase{
    font-size:20px;
    line-height:1.7;
    color:#f5f5f5;
    margin:25px 0;
}
.pesquisa{
    padding:20px;
}

.pesquisa input{
    width:100%;
    padding:15px;
    border-radius:15px;
    border:none;
    background:#1b1b27;
    color:white;
    font-size:16px;
}

.continue,
.destaque{
    padding:25px 20px;
}

.livro-horizontal{
    display:flex;
    gap:15px;
    align-items:center;
    background:#171722;
    padding:15px;
    border-radius:20px;
    margin-top:15px;
}

.livro-horizontal img{
    width:90px;
    border-radius:12px;
}

.cards{
    display:flex;
    overflow-x:auto;
    gap:15px;
    margin-top:20px;
}

.card{
    min-width:180px;
    background:#171722;
    border-radius:20px;
    padding:15px;
}

.card img{
    width:100%;
    border-radius:15px;
}